.change-password-form{
  .old-password{
    margin-top: 15px;
  }

  .not-edit-password-value{
    position: relative;
    top: 10px;
  }

  .not-edit-password{
    .editable-name-icons{
      position: relative;
      top: -5px;
      padding-left: 5px;
    }
  }

  .form-group{
    margin-bottom: 0px;
  }
}