<!DOCTYPE html>
<html>
<head>
</head>
<body>


<!--START OF FRAGMENT-->

<div th:fragment="reset-password">
    <h1>HomeView!</h1>
    <div>
        You are receiving this email because we received a password reset
        request for your account.
    </div>

    <table>
        <tbody>
        <tr>
            <td align="center">
                <table width="100%">
                    <tbody>
                    <tr>
                        <td align="center">
                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        <a style="font-family:Roboto-Light,Helvetica,Arial,sans-serif;box-sizing:border-box;box-shadow:0 2px 3px rgba(0,0,0,0.16);color:#FFF;display:inline-block;text-decoration:none;padding:0.5rem 0.75rem;background-color:#07a508;border-color:#07a508;border-radius:2px"
                                           th:href="${resetLink}"
                                           rel="noopener" target="_blank">Reset Password</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    <div style="padding-bottom:40px">
        If you did not request a password reset, no further action is
        required.
    </div>
    <div style="padding-top:10px;font-size:12px;border-top:1px solid rgba(0,0,0,0.125)">
        If you're having trouble clicking the "Reset Password" button, copy
        and paste the API_URL below into your web browser: <a
            style="color:#4285f4"
            th:href="${resetLink}"
            th:text="${resetLink}"
            target="_blank" rel="noopener">http://seriestable/reset-password?token=b9b57904-4e72-467b-b0dc-e7262d53f8c4&amp;email=havelvojta@seznam.cz</a>
    </div>
</div>

<!--END OF FRAGMENT-->


</body>
</html>