@import "../../components/core/variables";

.icon-picker-row {
  text-align: center;
  min-width: 350px;

  .icon-picker-icon {
    margin-bottom: 15px;
    margin-right: 15px;
    font-size: 28px;
    cursor: pointer;
    &:hover, &.selected{
      color: $blue;
    }
  }
}