<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

#    RewriteEngine On

#    Options -MultiViews


    RewriteEngine On
    RewriteRule ^api/ index.php [QSA,L]
    RewriteRule ^auth/ index.php [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [QSA]

#    RewriteCond %{REQUEST_FILENAME} !/api/(.*)


    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
