$green: #07a508;
$green-dark: #007500;
$green-light: #59d846;

$gray: #5c5a5c;
$gray-dark: #333133;
$gray-light: #898789;
$gray-x-light: #e9ecef;

$blue: #4285f4;
$blue-dark: rgb(7, 35, 100);
$blue-m-dark: #0733A5;
$blue-dark-opaque: rgb(57, 79, 131);
$blue-opaque: rgb(228, 233, 244);
$blue-x-dark: #002266;
$blue-light: #80b4ff;
$blue-x-light: #f4fcfd;

$red: #eb0002;
$red-dark: rgb(153, 0, 3);

$black: #222;

$sm: 576px;
$md: 768px;
$sm-end: 767px;
$lg: 992px;
$md-end: 991px;
$xl: 1200px;

.mb-20 {
  margin-bottom: 20px !important;
}

$circle-width: 70%;

$bottom-border-line: 1px solid rgba(0, 0, 0, 0.125);

